.header {
  color: black;
}
.page-title {
  padding: 20px;
}
body {
  background: lightblue;
}
h1 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}
#get-mass {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
  clear: both;
}
#ingredient {
  margin: 5px 20px 20px 20px;
  float: left;
  clear:both;
}
#unit {
  margin: 5px 20px 20px 20px;
  clear: both;
}
#quantity {
  margin: 5px 20px 20px 20px;
  float: left;
  clear: both;
}
#result-label {
  text-decoration: underline;
}
#result {
  padding: 10px;
  margin-left: 20px;
  font-size: 24px;
  float: left;
  clear: both;
}
#results label {
  padding-left: 0px;
}
button {
  border-radius: 15px;
  padding: 10px;
  background-color: tomato;
  color: white;
}
a {
  color: tomato;
}
#option-button-group {
  margin-bottom: 20px;
}
label {
  margin: 10px;
  text-align: left;
  clear: both;
  float:left;
}
footer {
  margin: 400px 20px 20px 20px;
  clear: both;
}
